body {
  zoom: 240%;
  padding: 0px 0px 30px 0px;
  text-align: center;
  background-color: rgb(235, 207, 199);
  border: dashed 2px rgb(205, 177, 169);
  min-width: 540px;
}

.icons {
  height: 40px;
  width: 40px;
}
button {
  margin: 5px;
  text-align: center;
  width: 60px;
  background-color: rgb(255, 227, 219);
  border-color: rgb(205, 177, 169);
  border-style: dotted;
  border-radius: 5px;
  padding: 5px;
  font-size: 120%;
  transition-duration: 500ms;
}
button:hover {
  background-color: rgb(220, 192, 184);
  transform: scale(0.95);
  transition-duration: 500ms;
  opacity: 0.8;
}
button:active {
  background-color: rgb(205, 177, 169);
}
#clear {
  width: 35px;
  height: 15px;
  padding: 0px;
  margin: 2px;
  border-style: none;
  background-color: rgb(235, 207, 199);
  color: rgb(155, 127, 119);
  text-align: left;
  font-size: 9px;
  font-weight: 700;
}
#result {
  margin: 30px;
  height: 20px;
  transition-duration: 500ms;
  transition: ease-in-out;
}
#rules {
  margin-left: 30%;
  width: 40%;
  text-align: center;
  border: dashed 2px rgb(205, 177, 169);
}
.rules-images {
  width: 50px;
  vertical-align: middle;
}
.rule-texts {
  border-top: dashed 2px rgb(205, 177, 169);
}
#score-board {
  position: fixed;
  text-align: left;
  color: rgb(155, 127, 119);
}
